* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #c3eaec;
}


h2 {
    font-size: 36px;
    /*tamaño de las letras*/
    color: #1c4a89;
    margin-bottom: 20px;
    font-family: 'fantasy';
}

h3 {
    font-size: 28px;
    /*tamaño de las letras*/
    color: #2b84a0;
    margin-bottom: 15px;
    font-family: 'fantasy';
}

p {
    font-size: 20px;
    /*tamaño de las letras*/
    color: #236894;
}


/*NAVBAR*/
.top {
    background: linear-gradient(to right, #2b85a0, #1a4185);
    /* Cambia los colores a los que prefieras */
    color: #0c4961;
    /* si el fondo es oscuro */
    font-family: 'Montserrat', sans-serif;
}

.nav-container h1 {
    color: white;
    padding: 10px;
    /*lo modificare mas tarde*/
    font-family: 'fantasy';
}

/*esto quisas lo use mas tarde*/
.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

ul {
    display: flex;
    gap: 35px;
    /* Espacio entre los elementos de la lista */
    margin-top: 20px;
    font-size: 20px;
}

.nav-links li {
    list-style: none;
    /* Quita los puntos de la lista */
}

.nav-links li a {
    text-decoration: none;
    /* Quita el subrayado azul */
    color: white;
    /* Cambia el color del texto */
}


/*SECCION SOBRE MI*/
.sobre-mi {}

.container {
    margin: 55px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.container img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

/*SECCION PROYECTOS*/
.proyectos {}

.container2 {
    margin: 55px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.proyectos-grid {
    display: flex;
    gap: 50px;
    flex-direction: column;
}


/*SECCION EDUCACION*/
.educacion {}

.container3 {
    margin: 55px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}


/*SECCION EXPERIENCIA*/

footer{
    background: linear-gradient(to right, #2b85a0, #1a4185);
    color: #0c4961;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    color: white;
}